In [9]:
import pandas

## 函数id定义

In [12]:
fIdDef=pandas.read_csv('/crk/bochs/xv6-x86/funcIdDescLs.txt.csv')

In [13]:
fIdDef.head()

  filePath  line  column  abs_location_id funcName
0   ulib.c     9       1                0   strcpy
1   ulib.c    20       1                1   strcmp
2   ulib.c    28       1                2   strlen
3   ulib.c    38       1                3   memset
4   ulib.c    45       1                4   strchr

## bochs日志清理

In [7]:
%%sh
#清理日志文件 /crk/bochs/bochs/bochsout.txt 中的垃圾

/crk/bochs/xv6-x86-run_at_bochs/funcIdLogProcess/log_clean.sh

## bochs日志按函数id分组

In [16]:
dfLog=pandas.read_csv('/crk/bochs/xv6-x86-run_at_bochs/funcIdLogProcess/bochsout_clean.log')

In [21]:
dfLogG = dfLog.groupby('abs_location_id').size().reset_index()
dfLogG.columns = ['函数id', '函数调用次数']

dfLogG=dfLogG.sort_values(by='函数调用次数', ascending=False)

In [23]:
dfLogG.head(30)

       函数id  函数调用次数
138  420001  330773
85   330004  227344
60   270002  227344
107  360000   57544
158  430006   57544
56   250003   57201
105  350005   42596
162  430011   42596
106  350006   42594
104  350004   27571
163  430012   24811
101  350001   13765
102  350002   13765
103  350003   13765
153  430000   11368
108  360001    2601
86   330005    1217
155  430002    1138
95   330016     377
82   330001     377
99   340003     344
57   250004     342
98   340002     309
97   340001     309
9    180004     246
7    180002     246
6    180001     246
109  360002     232
34   220014     205
35   220016     185